<div class="container-main">
  <div class="title">
    <p>Editar Header</p>
  </div>

  <div class="form-container">
    <form (submit)="updateHeader()" class="form-box">
      <input type="text" [(ngModel)]="header.name" name="name" placeholder="Nombre" class="input" />
      <input type="text" [(ngModel)]="header.goalLife" name="goalLife" placeholder="Meta / Objetivo" class="input" />
      <input type="text" [(ngModel)]="header.photoUrl" name="photoUrl" placeholder="Foto (URL)" class="input" />
      <input type="text" [(ngModel)]="header.email" name="email" placeholder="Email" class="input" />
      <input type="text" [(ngModel)]="header.phoneNumber" name="phoneNumber" placeholder="Teléfono" class="input" />
      <input type="text" [(ngModel)]="header.location" name="location" placeholder="Ubicación" class="input" />
      <input type="text" [(ngModel)]="header.socialNetwork" name="socialNetwork" placeholder="Red social (URL)" class="input" />
      <button type="submit" class="btn-primary">{{ btntxt }}</button>
    </form>
  </div>
</div>
