<div class="container-main">
  <div class="title">
    <p>Experiencia Laboral</p>
  </div>

  <div class="form-container">
    <input type="text" [(ngModel)]="myExperience.position" placeholder="Puesto" class="input" />
    <input type="text" [(ngModel)]="myExperience.company" placeholder="Empresa" class="input" />
    <input type="text" [(ngModel)]="myExperience.location" placeholder="Ubicación" class="input" />
    <input type="text" [(ngModel)]="myExperience.startDate" placeholder="Fecha de inicio" class="input" />
    <input type="text" [(ngModel)]="myExperience.endDate" placeholder="Fecha de fin" class="input" />
    <textarea [(ngModel)]="myExperience.accomplishment" placeholder="logros" class="input"></textarea>
    <button (click)="saveExperience()" class="btn-primary">{{ btntxt }}</button>
  </div>

  <div class="job-list">
    <div class="job-card" *ngFor="let item of workExperiences">
      <div class="job-info">
        <p><strong>{{ item.position }}</strong></p>
        <p><strong>Empresa:</strong> {{ item.company }}</p>
        <p><strong>Ubicación:</strong> {{ item.location }}</p>
        <p><strong>Periodo:</strong> {{ item.startDate }} - {{ item.endDate }}</p>
        <p><strong>Logros:</strong> {{ item.accomplishment }}</p>

      </div>
      <div class="job-actions">
        <button (click)="editExperience(item)" class="btn-secondary">Editar</button>
        <button (click)="deleteExperience(item.id!)" class="btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
